<link rel="stylesheet" type="text/css" href="../_shared/css/style.css">

<!-- Example assets -->
<link rel="stylesheet" type="text/css" href="jcarousel.basic.css">

<script type="text/javascript" src="../../libs/jquery/jquery.js"></script>
<script type="text/javascript" src="../../dist/jquery.jcarousel.min.js"></script>

<script type="text/javascript" src="jcarousel.basic.js"></script>		

<div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li><img src="/assets/dino.jpg" width="350" height="auto" alt=""></li>
                <li><img src="/assets/index-craft.jpeg" width="350" height="auto" alt=""></li>
                <li><img src="/assets/roosevelt.jpg" width="350" height="auto" alt=""></li>
                <li><img src="/assets/rooseveltisland.jpg" width="350" height="auto" alt=""></li>
                <li><img src="/assets/japanesegarden.jpg" width="350" height="auto" alt=""></li>
                <li><img src="/assets/greecewindmills.jpg" width="350" height="auto" alt=""></li>
            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
        
        <p class="jcarousel-pagination">
            
        </p>
    </div>
</div>

<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.jcarousel.js"></script>
<script>
	(function($) {
	    $(function() {
	        $('.jcarousel').jcarousel();

	        $('.jcarousel-control-prev')
	            .on('jcarouselcontrol:active', function() {
	                $(this).removeClass('inactive');
	            })
	            .on('jcarouselcontrol:inactive', function() {
	                $(this).addClass('inactive');
	            })
	            .jcarouselControl({
	                target: '-=1'
	            });

	        $('.jcarousel-control-next')
	            .on('jcarouselcontrol:active', function() {
	                $(this).removeClass('inactive');
	            })
	            .on('jcarouselcontrol:inactive', function() {
	                $(this).addClass('inactive');
	            })
	            .jcarouselControl({
	                target: '+=1'
	            });

	        $('.jcarousel-pagination')
	            .on('jcarouselpagination:active', 'a', function() {
	                $(this).addClass('active');
	            })
	            .on('jcarouselpagination:inactive', 'a', function() {
	                $(this).removeClass('active');
	            })
	            .jcarouselPagination();
	    });
	})(jQuery);
</script>