<form action="MAILTO:karynn.tran@gmail.com" method="post" enctype="text/plain">
	Your Name:<br>
	<input type="text" value="your name"><br>
	Your E-mail:<br>
	<input type="text" value="your email"><br>
	Comment:<br>
	<textarea type="text" value="your comment" size="50"><br><br>
	<input type="submit" value="Send">
	<input type="reset" value="Reset">
</form>