<div class="home-styles">

	<div id="category-buttons">
		<div class="box" id="box-1">career</div>
		<div class="box" id="box-2">code</div>
		<div class="box" id="box-3">create</div>
		<div class="box" id="box-4">capture</div>
	</div>

	<footer>
		
	</footer>
</div>
