<div class="universal-styles">
		<center>
			<div id="category-buttons">
				<h1>karynn elio tran</h1>
				<div class="box" id="box-1">code</div>
				<div class="box" id="box-2">career</div>
				<div class="box" id="box-3">create</div>
				<div class="box" id="box-4">capture</div>
			</div>
		</center>

	<div id="about-me">
		<div class="container">
			<div class="row">
				<div class="four columns left">
					<p class="header-title"><strong>WHO</strong> I AM</p>
					<p class="header-text">
						A tiny, twenty something New Yorker, an Aquarius, born in the Year of the Rat, an ENFJ. I sometimes view life through thick-framed glasses or a Nikon lens, but most importantly, through optimism.
					</p>
				</div>
				<div class="four columns middle">
					<p class="header-title"><strong>WHAT</strong> I AM</p>
					<p class="header-text">
						A budding full-stack web developer and fascinated by  beautiful design. Once a qualitative storyteller by trade, but forever an inquisitive researcher by nature. An advocate for the consumer.
					</p>
				</div>
				<div class="four columns right">
					<p class="header-title"><strong>WHAT</strong> I'M ABOUT</p>
					<p class="header-text">I am a life-long student - I can't do everything but I surely do try. I travel to discover, not to relax. I may be slightly addicted to coffee. On rainy days, I could be found plucking a ukulele.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="code-section">
		<div class="container">
			<div class="row">
				<div class="content">
					<div class="four columns left">
						<h3 id="code-title">code</h3>
							<p>WEB DEVELOPMENT IMMERSIVE</p>
							<p>General Assembly</p>
							<p>December 2014</p>
					</div>

					<div class="four columns middle">
						<div>Project One</div>
						<div>Project Two</div>
					</div>

					<div class="four columns right">
						<div>Project Threee</div>
						<div>Project Project Four</div>
					</div>
				</div>
			</div>	
		</div>
	</div>

<div id="career-section">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="four columns">
					<p>senior publisher</p>			
				</div>

				<div class="four columns">
					<p>storyteller/qualitative analyst</p>
				</div>

				<div class="four columns">
					<h3 id="career-title">career</h3>
						<p>"tough princess"</p>
						<p>"mentor"</p>
						<p></p>
				</div>
			</div>
		</div>	
	</div>
</div>


	<footer>
	</footer>

</div>
