<div class="home-styles">

	<div data-link="<%= "careers" %>" class="box" id="box-1">career</div>

	<div data-link="<%= "careers" %>" class="box" id="box-2">code</div>

	<div data-link="<%= "careers" %>" class="box" id="box-3">create</div>

	<div data-link="<%= "careers" %>" class="box" id="box-4">capture</div>

</div>
