<div class="universal-styles">
		<center>
			<div id="category-buttons">
				<h1>karynn elio tran</h1>
				<div class="box" id="box-1">code</div>
				<div class="box" id="box-2">career</div>
				<div class="box" id="box-3">create</div>
				<div class="box" id="box-4">capture</div>
			</div>
		</center>

<div id="about-me">
	<div class="container">
		<div class="row">
			<div class="four columns">
				<p class="header-title"><strong>WHO</strong> I AM</p>
				<p class="header-text">
					A tiny, twenty something New Yorker, an Aquarius, born in the Year of the Rat, an ENFJ. I sometimes view life through thick-framed glasses or a Nikon lens, but most importantly, through optimism.
				</p>
			</div>
			<div class="four columns">
				<p class="header-title"><strong>WHAT</strong> I AM</p>
				<p class="header-text">
					A budding full-stack web developer and fascinated by  beautiful design. Once a qualitative storyteller by trade, but forever an inquisitive researcher by nature. An advocate for the consumer.
				</p>
			</div>
			<div class="four columns">
				<p class="header-title"><strong>WHAT ELSE</strong> I AM</p>
				<p class="header-text">I am a life-long student. I travel to discover, not to relax. I pluck a ukulele, though not very well. I may be addicted to coffee. I believe art can be found in almost anything.</p>
			</div>
		</div>
	</div>
</div>

<div id="code-section">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="four columns">
					<h3 id="code-title">code</h3>
						<p>WEB DEVELOPMENT IMMERSIVE</p>
						<p>GENERAL ASSEMBLY</p>
						<p>September to December 2014</p>
				</div>

				<div class="four columns">
					<div>
						<img class="project-photo" src="assets/wineanddine.png">
						<p>Week Four Project</p>
						<p></p>
					</div>

					<div>
						<img class="project-photo" src="assets/snowman.png">
						<p>Week Four Project</p>
						<p></p>
					</div>
				</div>

				<div class="four columns">
					<div>
						<img class="project-photo" src="assets/seek.png">
						<p>Week Four Project</p>
						<p></p>
					</div>

					<div>
						<img class="project-photo" src="assets/comicsmashup.png">
						<p>Week Four Project</p>
						<p></p>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<div id="career-section">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="four columns">
					<p>senior publisher</p>			
				</div>

				<div class="four columns">
					<p>storyteller/qualitative analyst</p>
				</div>

				<div class="four columns">
					<h3 id="career-title">career</h3>
						<p>"tough princess"</p>
						<p>"mentor"</p>
						<p></p>
				</div>
			</div>
		</div>	
	</div>
</div>


	<footer>
	</footer>

</div>
