/*UNIVERSAL STYLES*/

body {
	background-color: #E6E6E6;
	color: #282828;
}
.navigation {
	ul {
		float: right;
	}
	li {
		display: inline-block;
		padding: 5px 13px;
		margin: 0 5px;
		font-size: 20px;
		border: 5px solid white;
		color: white;
	}
}
h1 {
	color: #330033;
}
/*HOME STYLES*/
.universal-styles {
	footer {
		height: 400px;
		background-image: url('/assets/triangular/triangular.png');
		left:0px;
		bottom:0px;
	}
	h1 {
		text-align: center;
		margin-top: 20px;
	}
	#category-buttons {
		margin: 0 auto;
	}
	.box {
		color: white;
		font-size: 20px;
		text-align: center;
		height: 75px;
		width: 75px;
		border-radius: 10%;
		background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 20px;
		display: inline-block;
	}
	#box-1 {
		background-color: #330033;
		padding: 10px;
		vertical-align: middle;
	}
	#box-2 {
		background-color: #471947;
		padding: 10px;
		vertical-align: middle;
	}
	#box-3 {
		background-color: #6C476C;
		padding: 10px;
		vertical-align: middle;
	}
	#box-4 {
		background-color: #957A95;
		padding: 10px;
		vertical-align: middle;
	}	
}
.content {
	padding: 50px 0;
}

#about-me {
	color: #383838;
	font-size: 15px;
	background-color: white;
	margin-top: 20px;
	padding: 50px 0;
	.header-title {
		text-align: center;
		margin: 20px 0;
		color: #282828;
	}
	.header-text {
		text-align: left;
	}
}
#code-section {
	background-color: #330033;
		color: white;
	#code-title {
		background-color: #330033;
		color: white;
	}
}
#career-section {
	background-color: #471947;
		color: white;
	#career-title {
		background-color: #471947;
		color: white;
		
	}
}

footer {
	background-image: url('/assets/triangular/triangular.png');
	width: 100%;
}
