/*UNIVERSAL STYLES*/

body {
	font-family: helvetica;
	background-color: #E6E6E6;
}
.navigation {
	ul {
		float: right;
	}
	li {
		display: inline-block;
		padding: 5px 13px;
		margin: 0 5px;
		font-size: 20px;
		border: 5px solid white;
		color: white;
	}
}
header {
	background-image: url('/assets/triangular/triangular.png');
	display: inline-block;
	width: 100%;
	overflow: hidden;
	height: auto;
}
h1 {
	color: #330033;
}
/*HOME STYLES*/
.home-styles {
	footer {
		height: 400px;
		background-image: url('/assets/triangular/triangular.png');
		left:0px;
		bottom:0px;
	}
	#category-buttons {
		margin: 0 auto;
	}
	.box {
		color: white;
		font-size: 20px;
		text-align: center;
		height: 100px;
		width: 100px;
		border-radius: 50%;
		background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    margin: 10px;
		display: inline-block;
	}
	#box-1 {
		background-color: #330033;
		padding: 10px;
		vertical-align: middle;
	}
	#box-2 {
		background-color: #471947;
		padding: 10px;
		vertical-align: middle;
	}
	#box-3 {
		background-color: #6C476C;
		padding: 10px;
		vertical-align: middle;
	}
	#box-4 {
		background-color: #957A95;
		padding: 10px;
		vertical-align: middle;
	}
}

.career-styles {

}