.home-styles {
	body {
	font-family: helvetica;
	background-color: #E6E6E6;
	background-image: url('/assets/triangular/triangular.png')
	}

	#index-nav {
		margin: 130px auto;
	}

	.box {
		color: white;
		font-size: 40px;
		text-align: right;
		border-radius: 10px;
		height:150px;
		width: 150px;
	}

	#name {
		background-color: #3C3C3C;
		color: white;
		font-size: 40px;
		width:225px;
		font-size: 60px;
		padding: 0 0 60px 10px;
		margin-right: 20px;
		border-radius: 10px;
	}


	#t1 {
		background-color: #330033;
		padding: 10px;
		background-size: 175px auto;
	}

	#t2 {
		background-color: #E6E6E6;
		padding: 10px;	
		opacity: 0.0;
	}

	#t3 {
		background-color: #471947;
		padding: 10px;
		background-size: 175px auto;
	}

	#t4 {
		background-color: #E6E6E6;
		padding: 10px;
		opacity: 0.0;
	}

	#b1 {
		background-color: #E6E6E6;
		padding: 10px;
		opacity: 0.0;
	}

	#b2 {
		background-color: #6C476C;
		padding: 10px;
		background-size: 175px auto;
	}

	#b3 {
		background-color: #E6E6E6;
		padding: 10px;
		opacity: 0.0;
	}

	#b4 {
		background-color: #957A95;
		padding: 10px;
		background-size: 175px auto;
	}
}